{% extends 'accounts/main.html' %}

{% block content %}


    <br>

    <div class="row">

        <div class="col-md">
            <div class="card card-body">
                <h5>CLIENTS:</h5>
                <hr>
                <a class="btn btn-outline-info btn-sm btn-block" href="">
                    Mettre à jour le client
                </a>
                <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'create_order' customer.id %}">
                    Passer la commande
                </a>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Contacts Information</h5>
                <hr>
                <p>Email: {{customer.email}}</p>
                <p>Téléphone: {{customer.phone}}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h5>Total des commandes</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px;">{{order_count}}</h1>
            </div>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col">
            <div class="col-md">
                <div class="card card-body">
                    <form method="get">
                        <div>
                            {{ myFilter.form }}
                        </div>
                        <button class="btn btn-outline-primary" type="submit">Recherche</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <br>

    <div class="row">

        <div class="col">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Produit</th>
                            <th>Note</th>
                            <th>Date de commande</th>
                            <th>Statut</th>
                            <th>Mise à jour</th>
                            <th>Retirer</th>
                        </tr>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product }}</dt>
                                <td>{{ order.note }}</dt>
                                <td>{{ order.date_created }}</dt>
                                <td>{{ order.status }}</dt>
                                <td><a class="btn btn-outline-success btn-sm" href="{% url 'update_order' order.id %}">mise à jour</a></td>
                                <td><a class="btn btn-outline-danger btn-sm" href="{% url 'delete_order' order.id %}">Supprimer</a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>

    </div>

    
{% endblock %}