{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>CLIENTS:</h5>
        <hr>
        <div class="card card-body">
            {% comment %} <a class="btn btn-primary btn-sm btn-block" href="">Créer un client</a> {% endcomment %}
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Client</th>
                    <th>Téléphone</th>
                </tr>

                {% for customer in customers %}
                    <tr>
                        <td><a class="btn btn-outline-info btn-sm" href="{% url 'customer' customer.id %}">Voir</a></td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>5 DERNIÈRES COMMANDES:</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Produit</th>
                    <th>Date de commande</th>
                    <th>Statut</th>
                    <th>Note</th>
                    <th>Mise à jour</th>
                    <th>Retirer</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <th></th>
                        <td>{{ order.product }}</dt>
                        <td>{{ order.date_created }}</dt>
                        <td>{{ order.status }}</dt>
                        <td>{{ order.note }}</dt>
                        <td><a a class="btn btn-outline-success btn-sm" href="{% url 'update_order' order.id %}">Mise à jour</a></td>
                        <td><a a class="btn btn-outline-danger btn-sm" href="{% url 'delete_order' order.id %}">Supprimer</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</div>

{% endblock %}