{% extends 'accounts/main.html' %}

{% block content %}



<form action="{% url 'delete_order' item.id %}" method="POST">

    {% csrf_token %}

    <br>
    <br>

    <div class="row">
        <div class="container col-md-6 col-md-offset-3">
            <div class="card card-body">

                <strong><p>Are you sure you want to delete "{{item}}" ?</p></strong>

                <div>

                    <a class="btn btn-warning btn-sm" href="{% url 'home' %}">Cancel</a>

                    <input class="btn btn-danger btn-sm" type="submit" name="confirm">

                </div>

            </div>
        </div>
    </div>

</form>

{% endblock %}