{% extends 'accounts/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <br>
    <br>

    <div class="row">
        <div class="container col-md-6 col-md-offset-3">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ formset.management_form }}

                    {% for form in formset %}
                        <div>
                            {{form}}
                        </div>
                        <hr>
                    {% endfor %}

                    <div>

                        <input class="btn btn-success btn-sm" type="submit" name="confirm">

                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}