{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

    <br>
    <br>

    <div class="row">
        <div class="container col-md-8 col-md-offset-2">
            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                        {{form}}
                        <hr>

                    <div>

                        <input class="btn btn-success btn-sm" type="submit" name="confirm">

                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock %}