{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<div class="row">

        <div class="col">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                            <th>Produit</th>
                            <th>Note</th>
                            <th>Date de commande</th>
                            <th>Statut</th>
                        </tr>

                        {% for order in orders %}
                            <tr>
                                <td>{{ order.product }}</dt>
                                <td>{{ order.note }}</dt>
                                <td>{{ order.date_created }}</dt>
                                <td>{{ order.status }}</dt>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>

    </div>

{%  endblock %}